@charset "utf-8";

.no_click_on {
    width: 16px;
    height: 16px;
    font-size: 14px;
    background: url("../images/star_icon_disable.png")no-repeat;
    underline: none;
}

.no_click_on:hover {
    text-decoration: none;
    cursor: pointer;
}

.click_on {
    font-size: 14px;
    width: 16px;
    height: 16px;
    background: url("../images/star_icon_enable.png")no-repeat;
    underline: none;
}

.click_on:hover {
    text-decoration: none;
    cursor: pointer;
}

#oval {
    width: 200px;
    height: 100px;
    background: red;
    -moz-border-radius: 100px/50px;
    -webkit-border-radius: 100px/50px;
    border-radius: 100px/50px;
}

.mytd {
    border: 1px solid silver;
    width:14px;
}

.mytd_blank {
    border: 1px solid white;
    color:white;
}

.mytd2 {
    border: 1px solid white;    
}


#tstart-toolbar-top {
    top: 0;
    color: #3E3E3E;
    right: 0;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 10000;
    _position: absolute;
    /* for IE6 */

    _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
    /* for IE6 */

    overflow: visible;
}

#tstart-toolbar-top .tstart-right {
    float: right;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    border: 0px solid silver;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
}

#tstart-toolbar-bottom {
    position: fixed;
    bottom: 0px;
    color: #3E3E3E;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 10000;
    _position: absolute;
    /* for IE6 */

    _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
    /* for IE6 */

    overflow: visible;
}

#tstart-toolbar-bottom .tstart-left {
    float: middle;
    width: 968px;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
    border: 1px #a4c9ee solid;
    background-color: white;
}

#tstart-toolbar-bottom .tstart-right {
    float: right;
    width: 400px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    border: 0px solid silver;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
}

.#opstatdiv {
    visibility: hidden;
    background-color: #f7fcfe;
    z-index: 100;
    width: 200px;
    height: 50px;
    position: absolute;
    text-align: left;
    font-size: 12px;
    color: #FF0000;
    font-weight: bold;
    vertical-align: middle;
}

.answeredQuestion {
    position: relative;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    border: 1px;
    background: #a4c9ee;
    border-color: #1c7fb4;
    border-style: solid;
}

.unAnsweredQuestion {
    position: relative;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    border: 1px;
    border-color: silver;
    border-style: solid;
}

.questionContentDiv_odd {
    width: 970px;
    float: left;
    padding: 5px 5px 5px 5px;
    border-top: 1px #dceaf8 solid;
    border-right: 0px;
    border-left: 1px #dceaf8 solid;
    border-bottom: 1px #dceaf8 solid;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f8fd), to(#ffffff));
    background-image: -moz-linear-gradient(top, #f3f8fd, #ffffff);
    background-image: -webkit-linear-gradient(top, #f3f8fd, #ffffff);
    background-image: -o-linear-gradient(top, #f3f8fd, #ffffff);
    background-image: -ms-linear-gradient(top, #f3f8fd, #ffffff);
    background-image: linear-gradient(top, #f3f8fd, #ffffff);
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f3f8fd', endColorstr='#ffffff')
}

.questionContentDiv_even {
    width: 970px;
    float: left;
    padding: 5px 5px 5px 5px;
    border-top: 1px #dceaf8 solid;
    border-right: 0px;
    border-left: 1px #dceaf8 solid;
    border-bottom: 1px #dceaf8 solid;
}